.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.skillList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: green;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}

@media (min-width: 800px) {
  .skillList {
    gap: 40px;
  }

  hr {
    width: 300px;
  }
}
